:root {
    --light:  #ffffff;
    --dark:  #000000;
    --primary:var(--dark);
    --h1:  7.592rem;
    --h2:  5.063rem;
    --h3:  3.375rem;
    --h4:  2.24rem;
    --h5:  1.5rem;
}


body,html, *
 {
box-sizing: border-box;
font-size: 62.5%;
margin: 0px;
padding: 0px;
font-family: 'Fira Sans', sans-serif;
}

select {
    font-size: 1.5rem;
    border-color: beige; 
    position: absolute;
    top: 10px;
    right: 10px;
}
img {
    height: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-style: solid;

}
option {
    font-size: 15px;
}
.cards {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border-style: solid;
    margin: 30px;
}
.filter {
    font-weight: 400;
    position: absolute;
    top: 7px;
    right: 120px;
}
.light {
    background-color: var(--light);
    color: rgb(0, 0, 0);
}

.dark {
    background-color: var(--dark);
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
button {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 15px;
    border: #ffffff;
    font-family: 'Fira Sans', sans-serif;

}

h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
h1,h2,h3,h4,h5 {
  text-align: center;
}